@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}


.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}



/*CSS_page index*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #F0EEE9;
  -webkit-text-size-adjust: 100%;
}

nav{
  padding: 8px ;
  font-family: 'Ovo', serif;
}

nav ul{
  float: right;
}

nav ul li{
  display: inline-block;
  float: left;
  

 
}

nav ul li:not(:first-child){
  margin-left: 48px;
}

nav ul li:last-child{
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
}

@media screen and (max-width: 864px){
  .nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background: #4CA66B;
    transition: all 0.2s ease;
    font-family: 'Ovo', serif;
  }

  .nav-wrapper ul{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 100%;
  }

  .nav-wrapper ul li{
    display: block ;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;

  }

.nav-wrapper ul li:nth-child(1) a{
    transition-delay: 0.2s;
}
.nav-wrapper ul li:nth-child(2) a{
  transition-delay: 0.3s;
}
.nav-wrapper ul li:nth-child(3) a{
  transition-delay: 0.4s;
}

.nav-wrapper ul li:not(:first-child){
  margin-left: 0;
}

.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: black;
  font-size:14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  transform: translateX(-20px);
  transition: all 0.2s ease;
  font-family: 'Ovo', serif;
}

.nav-btn{
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.nav-btn i{
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 2px ;
  margin-left: 14px;
}

.nav-btn i:nth-child(1){
  margin-top: 16px;
}
.nav-btn i:nth-child(2){
  margin-top: 4px;
  opacity: 1;
}
.nav-btn i:nth-child(3){
  margin-top: 4px;
 
}

}

#nav:checked + .nav-btn{
  transform: rotate(45deg);
}
#nav:checked + .nav-btn i{
  background: #000;
  transition: transform 0.2s ease;
  
}

#nav:checked + .nav-btn i:nth-child(1){
  transform: translateY(6px) rotate(180deg);

}

#nav:checked + .nav-btn i:nth-child(2){
  opacity: 0;

}

#nav:checked + .nav-btn i:nth-child(3){
  transform: translateY(-6px) rotate(90deg);

}

#nav:checked ~ .nav-wrapper{
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a{
  transform: translateX(0);
  opacity: 1;
}

.hidden{
  display: none;
}




/*CSS page_about*/



.tag{
  position: fixed;
  top: 166px;
  left: 152px;
  padding: 10px 30px ;
  font-size: 15px;
  font-family: "Space Grotesk";
  color:#4CA66B;
  font-weight: 600;
  

}





/*CSS_page-projets*/

.container-items{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

.item{
  position: relative;
  flex-grow: 1;
  font-size: 100px;
  transition: all 300ms ease-in-out;
}

.item:hover{
  font-size: 200px;
  flex-grow: 2;
}

h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Ovo', serif;
}

img{
  width: 100%;
}

.container-img-wrap{
  position: absolute;
  top: -60rem;
  left: -80px;
  width: 400px;
  height: 500px;
  overflow: hidden;
  
  visibility: hidden;
}

.container-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (max-width: 900px){
  .container-items{
    height: 100px;
  }
  .item{
    font-size: 20px;
  }

  .item:hover{
    flex-grow: 1;
    font-size: 20px;
  }

  .container-img-wrap{
    display: none;

  }

  
}



.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  line-height: 100px;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-transform: uppercase;
  left: 25px;
  right: 25px;
  font-family: 'Ovo', serif;
 
}
@media screen and (max-width: 864px){
  .navbar{
  height: 100%;
  
    
  }
  
}

.header{
  
  width: 100%;
  height: 100px;
  
  font-family: 'Ovo', serif;
  line-height: 100px;
  z-index: 2 ;
}


a {
  text-decoration: none;
  color: black;
  font-family: 'Ovo', serif;
}



/*circle rotate*/
#container { margin: 0%;}


#circle { position: absolute; width: 100%; padding-bottom: 100%; overflow: hidden; background-color: transparent; }

#circle text { font-size: 16px; font-weight: bold; }

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}




/*CSS_home*/



.intro__content {
  position: absolute;
  right: 8%;
  bottom: 15%;
  z-index: 3;
  
 
}

.intro__title {
  font-size: 22vw;
  overflow: hidden;
  letter-spacing: -2.3vw;
  padding-right: 2.3vw;
  font-family: 'Ovo', serif;
 
}



.intro__title_2{
  overflow: hidden;
  letter-spacing: 2.3vw;
  text-align: center;
  font-family: 'Ovo', serif;

}



.img{
  height: 50%;
  width: 50%;
  display: flex;
  object-fit: cover;
 
  
}

#main{
  text-align: center;
}




/*CSS_contact*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



header {
  position: relative;
  margin: 100px 0 25px 0;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: "ovo";
  color: #000;
  letter-spacing: 2.3vw;


  
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  
}

input {
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  font-weight: 600;
  background: transparent;
  outline: none;
  color: white;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #4CA66B;
  color: white;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  font-weight: 600;
  background: transparent;
  outline: none;
  
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #4CA66B;
  color: #e2dedb;
}

#submit {
 
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}





.section {
  min-height: 32px;
  margin-bottom: 160px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.view-button-text {
  display: inline;
  font-size: 16px;
  line-height: 165%;
}

@media screen and (max-width: 767px){
.container {
    padding-right: 40px;
    padding-left: 40px;
}}

.container {
  position: static;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px 64px;
}

@media screen and (max-width: 991px){
.container {
    padding-right: 48px;
    padding-left: 48px;
}}

.section-heading-container {
  display: block;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px){
.projects-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

body {
  -webkit-font-smoothing: antialiased;
}

.project-wrapper {
  margin-top: 0px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #3a3b3b;
  font-size: 20px;
  text-decoration: none;
}

a {
  background-color: transparent;
}



.project-thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}

.project-thumbnail {
  margin-bottom: 0px;
}

img {
  display: inline-block;
  width: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}



@media screen and (max-width: 991px){
  .view-button {
    display: none;
  }

}

.view-button {
  position: absolute;
  left: 40px;
  top: auto;
  right: auto;
  bottom: 40px;
  display: inline-block;
  padding: 3px 16px 4px;
  border-radius: 10px;
  background-color: #e0dacf;
}

.view-button-text {
  display: inline;
  font-size: 16px;
  line-height: 165%;
}

.project-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-heading {
  margin-bottom: 2px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.25px;
}




